.top-right
  = link_to 'logout', destroy_user_session_path, class: 'btn btn-primary', method: :delete
.card.task-container
  #task-list
    = render partial: 'tasks/task_list', locals: {tasks: @tasks}
  #task-input
    = render partial: 'tasks/new_task_button'
