@import 'bootstrap';
@import 'font-awesome';

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-datepicker
 *= require_tree .
 *= require_self
 */

 /* task-container */
 .task-container {
   width: 550px;
   margin-left: auto;
   margin-right: auto;
 }

/* table */
.task-name {
  vertical-align: middle;
  font-size: 25px;
  margin: 5px;
}
.table {
  margin-bottom: 0px;
}
.text-right {
  text-align: right!important;
}
.table td {
  padding: 20px;
}

/* app */
.app h1 {
  font-weight: 400;
  font-size: 100px;
  margin-bottom: 25px;
}
.app {
  margin-top: 50px;
  margin-bottom: 30px;
  padding-bottom: 1rem;
}


/* logout */
.top-right {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
}

/* forms */
.form-inputs .user_remember_me {
  margin-top: 10px;
}
.form-actions {
  background-color: inherit;
  border-top: 0px;
  padding: 0px 0px 0px;
  margin-top: 10px;
}
.form-actions input {
  margin-left: 0;
}
.modal form {
  margin-bottom: 0;
}
