!!!
%html
  %head
    %title Rails Todo
    = csrf_meta_tags
    = stylesheet_link_tag    'application', 'mdb.min', media: 'all'
    = javascript_include_tag 'application'

  %body
    .container
      .jumbotron.text-center
        %h1
          todo
      = yield
